<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435409494550-lrm0d61a5bg02caju3qjsccsl4mdggv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435409494550-lrm0d61a5bg02caju3qjsccsl4mdggv8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>435409494550-fol1rakfo40rtlibmu7bh10ineeln5pf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB96kKXkRJSj85FgevPuxIR8a3jlT6Y14o</string>
	<key>GCM_SENDER_ID</key>
	<string>435409494550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceUiProject</string>
	<key>PROJECT_ID</key>
	<string>e-commerceapp-d2db3</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerceapp-d2db3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435409494550:ios:4e62a9e4c44e7edcd7cb37</string>
</dict>
</plist>